.row {
    text-align: center;
    color: aliceblue;
}

.col {
    background-color: rgb(0, 52, 70) !important;
    border-radius: 2% !important;
}

.space1 {
    width: 15%;
}

.lead1 {
    font-size: 1rem !important;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.lead-sp {
    font-size: 1rem !important;
    font-family: 'Raleway', sans-serif;
    color: blanchedalmond;
}

h4,
h2 {
    margin-top: 15px !important;
    font-family: 'Alatsi', sans-serif;
    color: white;
    text-shadow: 3px 2px black;
}

hr {
    background-color: whitesmoke;
}

.date {
    font-family: 'Roboto', sans-serif;
}


/*ScrollBar CSS*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 52, 70);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 112, 150);
}

.head2 {
    margin-top: 10px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: start;
}

.lead2 {
    font-size: 1rem !important;
    text-align: start;
    font-family: 'Raleway', sans-serif;

}



.card {
    border: none !important;
}

#ec-pic {
    margin-top: 15px!;
    width: 200px;
    border: 2px solid rgb(0, 195, 255);
    border-radius: 4px;
}

#mem-row .col {
    background-color: transparent !important;
}

#navline {
    margin-top: -5px;
    background-color: rgb(0, 195, 255);
}

#nav-tab {
    background-color: transparent !important;
    justify-content: space-around;
}

#nav-profile-tab {
    margin-right: 80px;
}

@media screen and (max-width:500px) {
    .navbar-nav {
        margin-left: 0px !important;
    }

    #nav-profile-tab {
        margin-right: 5px !important;
    }
}

.footer {
    background-color: black;
}

#ftr-logo {
    width: 250px;
}

#ftr-row {
    padding-top: 25px;
    padding-bottom: 25px;
}

.lead3 {
    font-size: 0.9rem !important;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

iframe {
    border: 2px solid rgb(0, 195, 255);
    overflow: hidden;
    width: 500px;
    height: 250px;
    border-radius: 5px;
}

.copyright-footer {
    background-color: black;
}

.lead4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 15px;
}

#ATT {
    text-decoration: none;
    color: rgb(146, 230, 255);
}

#ATT:hover {
    color: rgb(0, 112, 150);
    transition: all 0.4s;
}

.fa {
    padding: 10px !important;
    font-size: 20px !important;
    width: 40px;
    text-align: center;
    text-decoration: none !important;
    margin: 5px 8px;
}

.fa-facebook {
    border: 1px solid #3B5998;
    color: #3B5998;
}

.fa-google {
    border: 1px solid #dd4b39;
    color: #dd4b39;
}

.fa-instagram {
    border: 1px solid #3f729b;
    color: #3f729b;
}

.fa-facebook:hover {
    background-color: #3B5998;
    color: white;
    transition: all 0.6s;
}

.fa-google:hover {
    background-color: #dd4b39;
    color: white;
    transition: all 0.6s;
}

.fa-instagram:hover {
    background-color: #3f729b;
    color: white;
    transition: all 0.6s;
}

.lead4 {
    font-size: 0.76rem !important;
    font-family: 'Raleway', sans-serif;
}

.fa-phone {
    margin-left: -78px;
}

.date1 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.76rem;
}


@media screen and (max-width:425px) {
    .navbar-nav {
        margin-left: 0px !important;
    }

    iframe {
        width: 400px !important;
    }

    #NAU {
        border-radius: 0px !important;
    }

    #modules {
        margin-right: 0px !important;
    }

    #carouselExampleIndicators {
        height: 250px !important;
    }

    .carousel-inner {
        height: 250px !important;
    }

    .fixed-top {
        position: unset !important;
        background-color: rgb(0, 52, 70) !important;
        opacity: 1 !important;
    }

    .btn-primary {
        margin-top: -8px !important;
        border-radius: 0px !important;
        font-family: 'Raleway', sans-serif !important;
        transition: all 0.1s !important;
    }

    .carousel-control-next-icon {
        margin-top: -20px !important;
    }

    .carousel-control-prev-icon {
        margin-top: -20px !important;
    }

    .carousel-control-next {
        height: 250px !important;
    }

    .carousel-control-prev {
        height: 250px !important;
    }
}

@media screen and (max-width:375px) {
    .navbar-nav {
        margin-left: 0px !important;
    }

    iframe {
        width: 340px !important;
    }

    #NAU {
        border-radius: 0px !important;
    }

    #carouselExampleIndicators {
        height: 220px !important;
    }

    .carousel-inner {
        height: 220px !important;
    }

    #modules {
        margin-right: 0px !important;
    }

    .fixed-top {
        position: unset !important;
        background-color: rgb(0, 52, 70) !important;
        opacity: 1 !important;
    }

    .btn-primary {
        margin-top: -8px !important;
        border-radius: 0px !important;
        font-family: 'Raleway', sans-serif !important;
        transition: all 0.1s !important;
    }

    .carousel-control-next-icon {
        margin-top: -20px !important;
    }

    .carousel-control-prev-icon {
        margin-top: -20px !important;
    }

    .carousel-control-next {
        height: 220px !important;
    }

    .carousel-control-prev {
        height: 220px !important;
    }
}

@media screen and (max-width:320px) {
    .navbar-nav {
        margin-left: 0px !important;
    }

    iframe {
        width: 295px !important;
    }

    #modules {
        height: 280px !important;
        margin-right: 0px !important;
    }

    #NAU {
        border-radius: 0px !important;
    }

    #carouselExampleIndicators {
        height: 200px !important;
    }

    .carousel-inner {
        height: 190px !important;
    }

    .fixed-top {
        position: unset !important;
        background-color: rgb(0, 52, 70) !important;
        opacity: 1 !important;
    }

    .btn-primary {
        margin-top: 3px !important;
        border-radius: 0px !important;
        font-family: 'Raleway', sans-serif !important;
        transition: all 0.1s !important;
    }

    .carousel-control-next-icon {
        margin-top: -20px !important;
    }

    .carousel-control-prev-icon {
        margin-top: -20px !important;
    }

    .carousel-control-next {
        height: 190px !important;
    }

    .carousel-control-prev {
        height: 190px !important;
    }
}